.container
  box-sizing: border-box
  max-width: 830px
  margin: 0 auto
  padding-left: 10px 
  padding-top: 50px 
  color: #343434

  .title
    max-width: 830px
    margin: 0px auto 30px auto
    color: #377dff
    font-size: 1.75rem
    font-weight: 700
    font-family: "Product Sans", sans-serif
    line-height: 1.3 

  .questionItem
    position: relative
    margin-top: 20px
    border: 1px solid #f3f5fe
    border-radius: 14px
    color: #343434
    overflow: hidden
    transition: all 0.3s ease

    &:hover:not(.open)
      background-color: rgba(48, 125, 246, .1)
      border: 1px solid #307DF6

    &.open
      background-color: #307DF6
      border: none

      .question
        color: #fff

    .questionHeader
      position: relative
      padding: 24px 70px 24px 24px
      cursor: pointer
      display: flex
      justify-content: space-between
      align-items: center
      line-height: 1.3
  
    .question
      font-size: 18px
      font-weight: 700
      color: #19184a
      transition: color 0.3s ease

    .questionItem.open
      .question
        color: #fff


.answerContainer
  max-height: 0
  opacity: 0
  overflow: hidden
  transition: max-height 0.5s ease, opacity 0.5s ease
  will-change: max-height, opacity

.answerContent
  padding: 0 24px 30px 24px
  color: rgb(255, 255, 255)

  .text
    margin: 0
    font-size: 16px
    color: #fff
    padding-top: 20px
    padding-right: 65px
    line-height: 1.5
    font-weight: 400

