.domainMobileContainer
  position: relative
  right: 2%
  width: 100%
  left: 2%
  margin: 0 auto
  background: #fff
  top: 100%
  display: flex
  opacity: 1
  z-index: 1000
  display: flex
  flex-direction: column  

  .domainsMobileTop
    margin-left: 2%
    margin-right: 2%

    .mobileTitle
      font-size: clamp(0.875rem, 3vw, 1rem)

  .domainsMobileCenter
    border-top: 1px solid #d0d5dd
    margin-bottom: 0

  
  .getMobileStarted
    max-width: 80%
    padding: 1.25rem
    margin-left: 2%
    margin-top: 0
    background-size: 100%
    border-radius: 0.75rem
    display: flex
    flex-direction: column
    text-decoration: none
    &:hover
      .getMobileStartedArrow
        transform: translateX(8px)

      
    .getMobileStartedSearch   
      .getMobileStartedDandruff
          width: 1rem
          height: 1.0625rem
          margin-right: 0.625rem

      .getMobileStartTitle
          margin-right: 0.625rem
          font-weight: 700
          color: #222
          
      .getMobileStartedArrow
          right: 0
          position: relative
          transform: translateX(0.5rem)
          width: 0.4375rem
          height: 0.75rem
    
    .getMobileStartComment
      color: #656565
      font-size: clamp(0.75rem, 2.5vw, 0.875rem)
      padding-top: 0.3125rem
      line-height: 1.375rem