.domainContainer
  position: absolute
  right: 0
  width: 1020px
  left: 0
  margin: 0 auto
  background: #fff
  box-shadow: 0 0 0 1px rgb(18 55 105 / .08), 2px 3px 12px rgb(164 172 185 / .24)
  border-radius: 12px
  top: calc(100% - 10px)
  display: flex
  opacity: 1
  line-height: initial

  .domainsLeft

  //   .domainsLeftWrapper
  //     display: block
  //     padding: 25px
  //     width: 410px
  //     line-height: 20px

  //     .domainsLeftLink
  //       display: flex
  //       align-items: center
  //       gap: 25px
  //       text-decoration: none
  //       margin-bottom: 25px

  //       .domainsLeftIcon
  //         transition: all ease .5s
  //         overflow: hidden
  //         min-width: 65px
  //         width: 270px
  //         height: 185px

  //       .domainsLeftTitle
  //         display: flex
  //         font-size: 18px
  //         color: #222
  //         font-weight: 700
  //         align-items: center
  //         padding: 0 0 5px 0
  //         column-gap: 10px
  //         white-space: nowrap

  //         .domainsLeftArrow
  //           position: relative
  //           top: 1px
  //           margin-left: 0
  //           right: 0
  //           transition: all ease .3s
  //           width: 7px
  //           height: 12px

  //       .domainsLeftComment
  //         color: #757575
  //         font-size: 14px
  //         margin: 0
  //         font-weight: 400   



  .domainsCenter
    border-left: 1px solid #d0d5dd
    padding: 25px
    width: 320px
    white-space: nowrap

    .domainsCenterTitle
      font-size: 16px
      font-weight: 700
      color: #222
      margin-bottom: 5px

    .domainsCenterLink
      display: inline-block
      margin: 3px 0 3px -8px
      padding: 4px 8px
      font-size: 15px
      color: #656565

    .domainsCenterMark
      background: linear-gradient(89.52deg, #7088ff .42%, #3a4991 114.33%)
      box-shadow: 1px 1px 2px rgb(0 0 0 / .15)
      border-radius: 15px
      line-height: 22px
      color: #fff
      display: inline-block
      padding: 0 8px
      margin-left: 5px
      position: relative
      top: 0
      font-size: 13px 


.getStarted
  background-image: url(https://www.atom.com/public/images/common/get_started_bg.svg)
  min-width: 290px
  width: 290px
  padding: 25px
  background-size: 150%
  border-radius: 0 12px 12px 0

  .getStartedImage
    transition: all ease 0.5s 
    width: 100%
    height: 202px
 
  .getStartedDandruff
    width: 16px
    height: 17px

  .getStartTitle

  .getStartedArrow
    right: 0
    position: relative
    transition: all ease 0.3s 
    width: 7px
    height: 12px

  .getStartComment
    color: #656565
    font-size: 14px
    padding-top: 5px
    line-height: 22px 