.overlay
  position: fixed
  top: 14.375rem 
  left: 0
  width: 100%
  height: calc(100% - 9.125rem)
  background-color: rgb(0 0 0 / .1)
  z-index: 998 
  animation: fadeIn 0.3s ease   

.iconsContactContainer
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  gap: 1.5625rem
  
  .search
    font-size: clamp(0.875rem, 2vw, 1rem)
    font-weight: 400
    display: block
    line-height: 1.5
    unicode-bidi: isolate
    box-sizing: border-box
    cursor: pointer
    border-radius: 50%
    transition: all ease .3s
    margin: 0
    flex-shrink: 0
    width: 1.875rem
    height: 1.875rem
    background-repeat: no-repeat
    background-position: center center
    background-size: 1.4375rem auto
    color: #343434
    display: flex
    align-items: center
    justify-content: center
    @media(max-width: 991px)   
      display: none

    &.searchActive
      background-color:#ddd
 
  .searchForm
    z-index: 998
    visibility: visible
    opacity: 1
    left: 0
    right: 0
    position: fixed
    background: transparent
    border-top: 1px solid #edeff3
    transition: all ease .3s
    top: 9.125rem 
    width: 100%
    padding: 1.25rem 0
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.15)
    animation: slideDown 0.3s ease

    .searchFormOpen
      max-width: 90rem
      margin: 0 auto
      padding: 0 0.9375rem
      position: relative
      display: flex
      align-items: center
      justify-content: space-between  
      
      .searchInput
        border: none
        outline: 0
        display: block
        width: 100%
        text-align: left  
        height: 2.5rem
        line-height: 1.5
        color: #343434
        font-size: clamp(0.875rem, 2.5vw, 1.125rem)
        box-shadow: none

      .btnSearch
        position: absolute
        right: 0.3125rem
        top: -0.25rem
        background: #ff6955
        font-size: clamp(0.875rem, 2vw, 1rem)
        width: 4.25rem
        height: 3.375rem
        padding: 0
        cursor: pointer
        border: none
        border-radius: 40%
        transition: all ease .6s
        box-shadow: 0.1875rem 0.1875rem 0.625rem 0 rgb(255 104 85 / .3)
        background-repeat: no-repeat
        background-position: center
  
        &:hover
          background-color: #e55a2b
    

  .userContactFormContainer
    .userContactFormIcon
      cursor: pointer
      background-repeat: no-repeat
      background-position: center center
      width: 1.25rem
      height: 1.25rem
      flex-shrink: 0
      margin: 0


  .communicationWithUserContainer
    margin-top: -0.25rem  

    .communicationWithUserIcon
      cursor: pointer
      background-repeat: no-repeat
      background-position: center center
      width: 1.25rem
      height: 1.25rem
      flex-shrink: 0
      margin: 0

  .likesContainer
    margin-top: -0.25rem  
    .likesIcon   