.container
  padding: 1.5625rem
  background: #fff
  box-shadow: 0 1rem 2rem rgb(0 0 0 / .04)
  border-radius: 1.5rem
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  font-size: clamp(0.875rem, 2vw, 1rem)
  line-height: 1.5
  font-weight: 700

  .wrapperInfo
    color: #343434
    padding-bottom: 2.5rem

    .icon
      margin: 0 0 0.625rem 0
      max-width: 100%
      vertical-align: middle

    .title
      font-weight: 700
      margin: 0 0 0.625rem 0
      font-size: clamp(1.125rem, 3vw, 1.25rem)
      color: #000
      line-height: 1.3

    .description
      margin: 0
      color: #828282
      margin-bottom: 3rem

  .link
    color: #637CF7
    background-color: #fff
    border: none
    background: linear-gradient(45deg, #5a73ed 0, #3d57d5 100%)
    font-size: clamp(0.875rem, 2vw, 1rem)
    display: inline-flex
    align-items: center
    font-weight: 700
    padding: 0.8125rem 1.25rem
    justify-content: center
    transition: all ease .3s
    border-radius: 0.5rem
    text-decoration: none
    position: relative
    cursor: pointer
    &:hover
      background: linear-gradient(-45deg, #5a73ed 0, #3d57d5 100%)
      .arrow
        transform: translateX(0.5rem)

    .linkTitle
      color: #fff
      position: relative
      z-index: 2

    .arrow
      width: 2.1875rem
      height: 1.5625rem
      background-repeat: no-repeat
      background-position: center center
      flex-shrink: 0
      margin: 0 0 0 0.625rem
      transition: all ease .3s
      position: relative
      left: 0
      z-index: 2