.mobileSearchWrapper
    max-width: 50rem
    margin: 0 0.9375rem
    position: relative
    border-bottom: 1px solid #edeff3
    display: flex
    justify-content: space-between

    .mobileDundruff
      position: absolute
      top: 0.9375rem
      width: 1.5625rem
      background-repeat: no-repeat
      background-position: center left
      z-index: 1

    .mobileSearchInput
      border: none
      outline: 0
      display: block
      width: 84%
      text-align: left
      padding: 0 2.5rem
      background: #fff
      box-shadow: none
      border-radius: 999px
      line-height: 3.5rem
      color: #343434
      font-weight: 400
      @media ( max-width: 460px )
        &::placeholder
          color: #fff        

    .btnMobileSearch
      width: 2.5rem
      height: 2.5rem
      box-shadow: 0 1rem 2.5rem rgb(11 169 166 / .16)
      padding: 0
      position: absolute
      top: 0.5rem
      right: 0
      cursor: pointer
      border: none
      border-radius: 50%        
      background: #FF6955
      &:hover
        background-color: rgba(255, 105, 85, .9)
        background-image: none 
        opacity: 0.8 

      .searchArrow
        font-size: 0.0625rem