button
  background: none
  border: none
  font-size: clamp(0.875rem, 2.5vw, 1rem)
  color: #343434
  cursor: pointer 


.mobileMenuContainer    
  opacity: 1
  z-index: 99
  visibility: visible
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #fff
  transition: all ease .3s
  overflow-y: auto
  width: 90%
  box-shadow: 0.125rem 0.1875rem 0.75rem rgb(164 172 185 / .24)
  padding: 1.5625rem
  color: #343434
  font-size: clamp(0.875rem, 2.5vw, 1rem)

  @media(min-width: 992px)   
    display: none